<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/_meta::meta">
    <!--[if IE 6]>

    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>软件测试</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<!--_header 作为公共模版分离出去-->
<th:block th:include="public/_header"></th:block>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<th:block th:include="public/_menu"></th:block>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb">首页 <span class="c-gray en">&gt;</span> 产品管理 <span
            class="c-gray en">&gt;</span> 品牌管理 <a class="btn btn-success radius r"
                                                  style="line-height:1.6em;margin-top:3px"
                                                  href="javascript:location.replace(location.href);" title="刷新">刷新</a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="modal(this,null,'add')"
                                                                       class="btn btn-primary radius"> 添加</a></span>
                <!--<span class="Huialert Huialert-error"><i class="Hui-iconfont">&#xe6a6;
                </i><span th:if="${#fields.hasErrors('commodityId')}" th:errors="">错误状态提示
                </span>
                </span>-->
                <form class="form-inline" role="form" th:action="@{/list}" style="width: 400px;margin-left: 200px">

                    <input class="form-control radius" type="text" name="condition" th:value="${condition}"/>
                    <input class="btn btn-app btn-success radius list-inline" type="submit" value="搜索"/>

                </form>
                <span
                        class="r">共有数据：<strong th:text="${list.count}">54</strong> 条</span></div>


            <div class="mt-10">
                <table class="table table-border table-bordered table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th width="70">ID</th>
                        <th width="100">名称</th>
                        <th width="80">价格</th>
                        <th width="300">具体描述</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c" th:each="co,costat:${list.list}">
                        <td><input type="checkbox"></td>
                        <td th:text="${co.commodityId}"></td>
                        <td th:text="${co.commodityName}"></td>
                        <td th:text="${co.commodityPrice}"></td>
                        <td th:text="${co.commodityDescription}"></td>
                        <td>
                            <button class="btn btn-secondary radius" th:onclick="'javascript:modal('+this+','+${co.version}+',\'update\''+')'">修改</button>
                            <button class="btn btn-danger radius" th:onclick="'javascript:del('+${co.commodityId}+')'">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

</section>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="z-index: 999">
    <form id="modal" action="" method="post">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title"></h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
                </div>
                <div class="modal-body">
                    <div class="">ID:<input type="hidden" name="commodityId"></div>
                    <div class="">名称:<input type="text" name="commodityName"></div>
                    <div class="">价格:<input type="text" name="commodityPrice"></div>
                    <div class="">具体描述:<input type="text" name="commodityDescription"></div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="确定">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<th:block th:include="public/_footer"></th:block>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">
    function modal(obj,version, flag) {
        $("input[name='commodityId']").val("");
        $("input[name='commodityName']").val("");
        $("input[name='commodityPrice']").val("");
        $("input[name='commodityDescription']").val("");
        if (flag == "add") {
            var action=/*[[@{/addCommodity}]]*/'';
            $("#modal").attr("action",action);
            $("input[name='commodityId']").removeAttr("name");
            $(".modal-title").html("添加商品");
        }
        if (flag == "update") {
            $("input[name='commodityId']").attr("name","commodityId");
            var action=/*[[@{/updateCommodity}]]*/'';
            $("#modal").attr("action",action);
            var parent=obj.parentNode.parentNode;
            var td=parent.getElementsByTagName('td');
            $("input[name='commodityId']").val(td[1].innerHTML);
            $("input[name='commodityName']").val(td[2].innerHTML);
            $("input[name='commodityPrice']").val(td[3].innerHTML);
            $("input[name='commodityDescription']").val(td[4].innerHTML);
            $(".modal-title").html("编辑商品ID:"+td[1].innerHTML);
            $("#modal").append("<input type='text' name='version' value='"+version+"' />")
        }
        $("#modal-demo").modal('toggle');
    }
    function del(id) {
        if(confirm("确定删除id为【"+id+"】的记录?")){
        $.get(/*[[@{/deleteCommodity}]]*/'',{commodityId:id},function () {
            alert("删除成功！");
            location.replace(location.href);
        });

        }
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->

<!--此乃百度统计代码，请自行删除-->
<script>

</script>
<!--/此乃百度统计代码，请自行删除-->
</body>
</html>